.details-main-view {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 80%;
    padding-left: 10%;
    padding-right: 10%;
    transition: all 0.3s ease-in-out;
    margin-top: 50px;
}

.details-inner-div {
    display: flex;
    flex-direction: column;
    gap: 30px;
    transition: all 0.3s ease-in-out;
}

.backend-server-errors {
    text-decoration: none;
    color: rgb(247, 89, 88);
    text-align: center;
    transition: color 0.3s ease-in-out;
}

.topsection-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.topsection-div button {
    border: none;
    background-color: transparent;
    color: #013284;
    font-size: 1.2em;
    cursor: pointer;
}

.detail-title {
    font-size: 2em;
    text-align: center;
    transition: all 0.3s ease-in-out;
}

.organizer-part {
    color: rgba(0, 0, 0, 0.7);
    transition: all 0.3s ease-in-out;
}

.group-events {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.group-events h2 {
    font-size: 1.5em;
}

.bottomsection-div {
    display: flex;
    justify-content: space-around;
    transition: all 0.3s ease-in-out;
}

.group-image {
    flex-shrink: 0;
    width: 30%;
    display: flex;
    transition: all 0.3s ease-in-out;
}

.group-img {
    border-radius: 10px;
    object-fit: cover;
    height: 100%;
    width: 100%;
    max-height: 400px;
    max-width: 600px;
    transition: all 0.3s ease-in-out;
}

.group-info {
    flex-grow: 1;
}

.group-info .h3 {
    font-size: 1.5em;
    margin-bottom: 20px;
}

.group-about {
    line-height: 1.5;
    padding-bottom: 25px;
    transition: padding-bottom 0.3s ease-in-out;
}

.group-buttons-conditional {
    display: flex;
    justify-content: space-around;
    max-width: 600px;
    transition: all 0.3s ease-in-out;
}

.general-button {
    background-color: rgb(1, 130, 148);
    height: 40px;
    width: 100px;
    border: none;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.general-button:hover {
    background-color: rgb(3, 165, 186);
    transition: background-color 0.3s ease-in-out;
}

.general-button:active {
    transform: scale(0.95);
    transition: transform 0.3s ease-in-out;
}

.buttons {
    transition: all 0.3s ease-in-out;
}
