#modal-content {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  background-color: rgba(255, 255, 255);
  border-radius: 10px;
  max-height: 120vh;
  max-width: 700px;
  overflow: auto;
  box-sizing: border-box;
  padding: 1px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  list-style-type: none;
}

#modal-content h1 {
  text-align: center;
  color: #333;
  font-size: 2.5em;
  list-style-type: none;
}

#modal-content form {
  display: flex;
  flex-direction: column;
  max-width: 480px;
  margin: 20px auto;
}

#modal-content label {
  font-size: 1.3em;
  margin-top: 0px;
  margin-bottom: 0px;
  color: #555;
}

#modal-content input {
  padding: 10px;
  min-width: 340px;
  margin: 1px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
}

#modal-content button[type='submit'] {
  background-color: #ff1100;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  margin: 10px 0;
  width: 100%;
}

#modal-content button[type='submit']:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

#modal-content p {
  color: red;
  font-size: 0.9em;
}

.modal-background {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

#modal-content .login-button-div {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

#modal-content .demo-login-button {
  background-color: red;
}

#modal-content button[type='submit']:disabled {
  background-color: #ccc;
  color: #888;
  cursor: not-allowed;
}
#modal-content .error-message {
  color: red;
  font-size: 1.2em;
  margin-top: 5px;
  margin-bottom: 15px;
}
