.footer {
    width: 100%;
    background-color: white;
    box-shadow: 0 -1px 5px rgba(0,0,0,0.1);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    max-width: 1200px;
    padding: 0 20px;
  }

  .footer-title {
    font-size: 18px;
    font-weight: bold;
  }

  .icons {
    display: flex;
    gap: 10px;
  }

  .icon-link {
    color: black;
    text-decoration: none;
  }

  .icon {
    font-size: 24px;
  }

  .tech {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
  }

  .tech-list {
    display: flex;
    gap: 10px;
  }

  .tech-list li {
    list-style-type: none;
    font-size: 14px;
    color: rgba(0,0,0,0.6);
  }
