.link-to-group {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: black;
    padding: 2%;
    border: 1px solid lightgray;
    border-radius: 10px;
    transition: box-shadow 0.3s ease-in-out;
    margin-bottom: 60px;
    position: relative;
}

.link-to-group:hover {
    box-shadow: 0px 0px 10px lightgray;
}

.main-group-listing {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
}

.listing-image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    height: 125px;
    width: 160px;
    padding: 2%;
    border-radius: 10px;
    overflow: hidden;
}

.img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 100%;
    max-width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.group-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
    flex-grow: 1;
}

.group-name, .group-title, .numMembers {
    font-weight: bold;
}

.group-location, .about-text, .private {
    font-size: 0.9em;
    color: rgba(0, 0, 0, 0.6);
}

.group-about {
    margin-bottom: 10px;
}

.group-members {
    display: flex;
    justify-content: space-between;
}

.navigate-button {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -30px;
    padding: 10px 20px;
    text-decoration: none;
    color: #000;
    background-color: #f8f9fa;
    border-radius: 10px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease-in-out;
}

.navigate-button:hover {
    background-color: #e2e6ea;
}

.numMembers {
    background-color: teal;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}

.private {
    background-color: grey;
    color: white;
    padding: 5px 10px;
    border-radius: 20px;
}
