.main {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 1000px;
    margin: 10px;
    margin-left: 100px;
    margin-top: 5px;
}

.title {
    display: flex;
    justify-content: left;
    width: 100%;
    color: #007BFF;
    margin-bottom: 25px;
}

.full-form-main-div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
}

.full-input-inner-div {
    width: 90%;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    padding-bottom: 10px;
    text-align: left;
}

.full-input-header {
    margin-bottom: 10px;
    color: black;
    font-weight: bold;
}

.full-input-field,
.full-input-date {
    display: flex;
    justify-content: flex-start;
    border: 1px solid rgb(211, 211, 211);
    width: 100%;
    height: 35px;
    border-radius: 10px;
    margin-top: 1px;
}

.full-input-field:hover,
.full-input-date:hover {
    border: 1px solid rgb(52, 51, 51);
}

.full-input-field:focus,
.full-input-date:focus {
    border: 1px solid rgb(0, 130, 148);
}

.full-input-block {
    justify-content: flex-start;
    border: 1px solid rgb(211, 211, 211);
    border-radius: 10px;
    width: 100%;
    height: 120px;
    resize: none;
}

.full-input-block:hover {
    border: 1px solid rgb(52, 51, 51);
}

.full-input-block:focus {
    border: 1px solid rgb(0, 130, 148);
}

.full-input-error{
    color: rgb(255, 0, 0);
    text-align: left;
    font-weight: bold;
}

.full-login-button-div {
    display: flex;
    justify-content: flex-start;
    margin-top: 20px;
}

.full-login-button {
    margin-top: 15px;
    height: 40px;
    width: auto;
    border-radius: 10px;
    border: none;
    background-color: rgb(246, 64, 96);
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.full-login-button:hover {
    background-color: rgb(246, 133, 154);
}

.full-login-button:active {
    transform: scale(0.95);
}
