h1 {
  text-align: center;
  color: #333;
  font-size: 2em;
  transition: all 0.3s ease-in-out;
}

form {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

label {
  font-size: 1.2em;
  margin: 10px 0;
  color: #555;
}

input {
  padding: 10px;
  margin: 5px 0;
  border: 1px solid #ddd;
  border-radius: 4px;
}

input[type='submit'] {
  background-color: #007BFF;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

input[type='submit']:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

p {
  color: red;
  font-size: 0.8em;
}
