body {
    font-family: 'Graphik Web', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}


.nav-right {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
    list-style-type: none;
}

.login-signup {
    display: flex;
    gap: 10px;
    list-style-type: none;
}

.login-signup a, button {
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
    margin-left: 10px;
    list-style-type: none;
}

li {
    margin-left: 1px;
    list-style-type: none;
}

.login-signup a, button, .create-group {
    padding: 10px 20px;
    background-color: #FFFFFF;
    color: #000000;
    text-decoration: none;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.5s ease-in-out, transform 0.3s ease-in-out;
    list-style-type: none;
}

.login-signup a:hover, button:hover, .create-group:hover {
    background-color: #CCCCCC;
    transform: scale(1.1);
    list-style-type: none;
}



.profile-dropdown {
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    flex-direction: column;
    row-gap: 5px;
    padding-top: 15px;
    padding-left: 15px;
    padding-bottom: 15px;
    background-color: white;
    border-radius: 5px;
    font-size: small;
    box-shadow: 0px 0px 10px lightgray;
    top: 80px;
    right: 8px;
    transition: all 0.3s ease-out;
    transform: scaleY(0);
    transform-origin: top;
    visibility: hidden;
    list-style-type: none;
}

.profile-dropdown:not(.hidden) {
    transform: scaleY(1);
    visibility: visible;
}

.profile-dropdown li {
    padding: 10px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.profile-dropdown li:hover {
    background-color: #ddd;
}

.hidden {
    visibility: hidden;
}

.profile-dropdown li {
    padding: 10px;
    text-align: center;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.profile-dropdown li:hover {
    background-color: #ddd;
}

.logout-button {
    background-color: red;
    color: white;
    padding: 5px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.logout-button:hover {
    background-color: darkred;
}

.view-groups-button {
    background-color: #808080;
    color: white;
    padding: 9px 15px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.view-events-button {
    background-color: #808080;
    color: white;
    padding: 9px 16px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}
.view-groups-button:hover {
    background-color: #606060;
}

.view-events-button:hover {
    background-color: #606060;
}


.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #f9f9f9;
    border-bottom: 1px solid #e1e1e1;
  }

  .nav-left {
    display: flex;
    align-items: center;
  }

  .small-logo {
    height: 50px;
    width: auto;
    margin-right: 15px;
  }
