#modal-content h1 {
  text-align: center;
  color: #333;
  font-size: 2.5em;
}

#modal-content form {
  display: flex;
  flex-direction: column;
  max-width:480px;
  margin: 0 auto;
  padding: 60px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  max-height: 70vh;

}

#modal-content label {
  font-size: 1.3em;
  margin: 10px 0;
  color: #555;
}

#modal-content input {
  padding: 8px;
  min-width: 300px;
  margin: 1px 0;
  border: 1px solid #ddd;
  border-radius: 10px;
}

#modal-content button[type='submit'] {
  background-color: #ff1100;
  color: white;
  cursor: pointer;
  border-radius: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  padding: 15px;
  margin: 15px 0;
  width: 100%;
}

#modal-content button[type='submit']:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

#modal-content .login-button-div {
  display: flex;
  justify-content: center;
}

#modal-content .demo-login-button {
  background-color: red;
}

#modal-content p {
  color: red;
  font-size: 0.9em;
}
